<!DOCTYPE html>
<html>
<head>
    <title>Veiculo Protegido</title>
    @Styles.Render("~/css")
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body>
    <!--
      Main sidebar seen on the left. may be static or collapsing depending on selected state.

        * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
        * Static - stays always open.
    -->
    <nav id="sidebar" class="sidebar" role="navigation">
        <!-- need this .js class to initiate slimscroll -->
        <div class="js-sidebar-content">
            <header class="logo hidden-xs">
                <a href="index.html">sing</a>
            </header>
            <!-- every .sidebar-nav may have a title -->
            <h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5>
            <ul class="sidebar-nav">
                <li>
                    <a class="collapsed" href="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="fa fa-folder-open"></i>
                        </span>
                        Cadastros
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-levels" class="collapse">
                        <li><a href="@Url.Action("Index", "TabelasPreco")">Tabelas de Preco</a></li>
                    </ul>
                </li>
                <li>
                    <!-- an example of nested submenu. basic bootstrap collapse component -->
                    <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="glyphicon glyphicon-align-right"></i>
                        </span>
                        Consulta
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-forms" class="collapse">
                        <li><a href="@Url.Action("Carro", "Fipe")">Carros e Utilitários Pequenos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Monteiro & Mota Sistemas</p>
        </footer>
    </div>
    <!-- The Loader. Is shown when pjax happens -->
    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin-fast"></i>
    </div>
    <!-- common libraries. required for every page-->
    @Scripts.Render("~/bootstrap")

    <!-- common app js -->
    @Scripts.Render("~/app")

    <!-- page specific libs -->
    @Scripts.Render("~/layout")

    <!-- page specific js -->
    <script src="~/js/_layout.js"></script>


</body>
</html>